# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env
.env.*
.DS_Store

# Logs / Artifacts / Data
logs/
artifacts/
mlruns/
data/
outputs/
.checkpoints/

# Streamlit / Jupyter
.streamlit/
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# OS
Thumbs.db
